<nav class="navbar-sm navbar-default navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li ng-show="auth"><a href="#/projectlist">Feed</a></li>
      <li ng-show="auth"><a href="#/profile">Profile</a></li>
      <li class="active" ng-show="auth"><a href="#/account">Update</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#/reportproblem">Report a Problem</a></li>
          <li><a href="#/termspolicies">Terms and Policies</a></li>
          <li><a href="#/helpfaq">Help and FAQ</a></li>
        </ul>
      </li>
      <li ng-click="logout()"><a href="#/login">Logout</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
<!-- ---------------- END NAV ------------------ -->

<div class="col-sm-12">

<br />
<p class="status good" ng-show="auth" ng-model="user.name" ng-cloak>{{user.name}}, you are logged in</p>
<p class="status" ng-hide="auth" ng-cloak>You are not logged in</p>

<h2>Account</h2>

<form class="form-horizontal" role="form">
    <fieldset>
        <legend>Update Profile</legend>
		
		<div class="form-group">
        <label class="col-xs-12">
            <span>Name:</span>
            <input type="text" name="name" ng-model="user.name" class="form-control input-sm" />
        </label>
		</div>
		
		<div class="form-group">
        <label class="col-xs-12">
            <span>Email:</span>
            <input type="text" name="name" ng-model="user.email" class="form-control input-sm" />
        </label>
		</div>
    </fieldset>

    <fieldset>
        <legend>Change Password</legend>
		
		<div class="form-group">
        <label class="col-xs-12">
            <span>Old Password:</span>
            <input type="password" ng-model="oldpass" class="form-control input-sm" />
        </label>
		</div>
		
		<div class="form-group">
        <label class="col-xs-12">
            <span>New Password:</span>
            <input type="password" ng-model="newpass" class="form-control input-sm" />
        </label>
		</div>
		
		<div class="form-group">
        <label class="col-xs-12">
            <span>Confirm Password:</span>
            <input type="password" ng-model="confirm" class="form-control input-sm" />
        </label>
		</div>

        <button ng-click="updatePassword()" type="button" class="btn btn-default btn-sm">Update Password</button>

        <p class="error" ng-show="err">{{err}}</p>
        <p class="good" ng-show="msg">{{msg}}</p>
    </fieldset>
</form>

</div>