<nav class="navbar-sm navbar-default navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><a href="#/projectlist">Feed</a></li>
      <li><a href="#">Profile</a></li>
      <li ng-show="auth"><a href="#/account">Update</a></li>
      <li class="dropdown active">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#/reportproblem">Report a Problem</a></li>
          <li><a href="#/termspolicies">Terms and Policies</a></li>
          <li><a href="#/helpfaq">Help and FAQ</a></li>
        </ul>
      </li>
      <li ng-click="logout()"><a href="#/login">Logout</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
<!-- ---------------- END NAV ------------------ -->

<div class="col-sm-12">

<h2>Help and FAQ</h2>

<form class="form-horizontal" role="form">
	
	<fieldset>
        <legend>How do I create an Account?</legend>
		<div class="form-group">
        <label class="col-xs-12">
            <span>Sign up with email and select "Create Account" from the login page, and then modify your info on the "Update" page.</span>
        </label>
		</div>
	</fieldset>
	
    <fieldset>
        <legend>How do I edit or update my profile?</legend>
		<div class="form-group">
        <label class="col-xs-12">
            <span>You can simply click "Update" from the top navigation menu, and then choose the input field that you would like to modify.</span>
        </label>
		</div>
	</fieldset>	
	
	<fieldset>
        <legend>How do I change my password?</legend>
		<div class="form-group">
        <label class="col-xs-12">
            <span>Select "Update" from the top navigation menu, and then enter your password information into the appropriate fields.</span>
        </label>
		</div>
	</fieldset>
	
</form>