<nav class="navbar-sm navbar-default navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li ng-show="auth"><a href="#/projectlist">Feed</a></li>
      <li class="active" ng-show="auth"><a href="#/profile">Profile</a></li>
      <li ng-show="auth"><a href="#/account">Update</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#/reportproblem">Report a Problem</a></li>
          <li><a href="#/termspolicies">Terms and Policies</a></li>
          <li><a href="#/helpfaq">Help and FAQ</a></li>
        </ul>
      </li>
      <li ng-click="logout()"><a href="#/login">Logout</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
<!-- ---------------- END NAV ------------------ -->

<div class="col-sm-12">

<br />
<!--<p class="status good" ng-show="auth" ng-model="user.name" ng-cloak>{{user.name}}, you are logged in</p>-->
<p class="status" ng-hide="auth" ng-cloak>You are not logged in</p>

<h2>Profile</h2>

<form class="form-horizontal" role="form">
    <fieldset>
        <legend ng-model="user.name">{{user.name}}</legend>
		
		
		
		<div class="form-group">
        <label class="col-xs-12">
            <span ng-model="user.email">{{user.email}}</span>
        </label>
		</div>
    </fieldset>

    
</form>

</div>