<nav class="navbar-sm navbar-default navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="active" ng-show="auth"><a href="#/projectlist">Feed</a></li>
      <li ng-show="auth"><a href="#/profile">Profile</a></li>
      <li ng-show="auth"><a href="#/account">Update</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#/reportproblem">Report a Problem</a></li>
          <li><a href="#/termspolicies">Terms and Policies</a></li>
          <li><a href="#/helpfaq">Help and FAQ</a></li>
        </ul>
      </li>
      <li ng-click="logout()"><a href="#/login">Logout</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
<!-- ---------------- END NAV ------------------ -->

<p class="status good" ng-show="auth" ng-cloak>You are logged in</p>
<p class="status" ng-hide="auth" ng-cloak>You are not logged in</p>
	
    <div class="results-top"></div>
    <div class="results-container" ng-init="init()">
        <ul class="project-list">
        <li><!-- ng-repeat="projects in results" -->
			<div class="row">
			
				<div class="col-sm-6">
					<img src="{{projects.covers.404}}" class="img-responsive img-thumbnail" /><!---->
				</div><!-- end col-sm-6 -->
				
				<div class="col-sm-6">
					<h3><a href="{{projects.url}}">{{projects.name}}</a></h3>
					<ul class="project-info">
						<li>Fields: <span class="label genre" ng-repeat="field in projects.fields" >{{field}}</span></li>
						<li>Authors: {{projects.owners.id.display_name}}</li>
						<li>Published: {{projects.published_on | date:'medium'}}</li>
						<li>ID: {{projects.id}}</li>
					</ul>
					
					<div class="ratings"><strong>Appreciations:</strong><span class="label glyphicon glyphicon-star"><i class="icon-star"></i></span><strong>{{projects.stats.appreciations}}</strong></div>
					
					<a class="btn btn-default btn-sm" href="#/projectlist">Back</a>
					<a class="btn btn-default btn-sm" href="{{projects.url}}">View On Behance</a>
					
				</div><!-- end col-sm-6 -->
						
				</div>	
			</div>
		</li><!-- end project in results array -->	
        </ul>
		
    </div><!-- end results container -->
    <div class="results-bottom"></div>