<div class="container main-frame" ng-controller="mainController">

<p>Total number of projects: {{results.length}}</p>
<p class="status good" ng-show="auth" ng-cloak>You are logged in</p>
<p class="status" ng-hide="auth" ng-cloak>You are not logged in</p>

	<div class="search-box row form-inline">
		<label>Filter: </label>
		<!--use ng-model to bind input to the $scope.filterText variable-->
		<input type="text" ng-model="filterText"/>
		<label>Field: </label>
		<select ng-model="fieldFilter" ng-options="label for label in availableFields">
			<option value="">All</option>
		</select>
	</div><!-- end search-box -->
	
    <div class="results-top"></div>
    <div class="results-container">
        <ul class="project-list">
        <!-- ng-repeat dynamically creates li elements based on the data within results, filter with filterText variable -->
        <li ng-repeat="projects in results | filter: filterText | isField:fieldFilter">
			<div class="row">
			
				<div class="col-sm-6">
					<img src="{{projects.covers.404}}" class="img-responsive img-polaroid" />
				</div><!-- end col-sm-6 -->
				
				<div class="col-sm-6">
					<h3><a href="{{projects.url}}">{{projects.name}}</a></h3>
					<ul class="project-info">
						<li>Fields: <span class="label genre" ng-repeat="field in projects.fields" ng-click="setFieldFilter(field)">{{field}}</span></li>
						<li>Authors: {{projects.owners.id.display_name}}</li>
						<li>Published: {{projects.published_on}}</li>
						<li>ID: {{projects.id}}</li>
					</ul>
					<div class="ratings"><strong>Appreciations:</strong><span class="label glyphicon glyphicon-star"><i class="icon-star"></i></span><strong>{{projects.stats.appreciations}}</strong></div>
				</div><!-- end col-sm-6 -->
						
				</div>	
			</div>
		</li><!-- end project in results array -->	
        </ul>
    </div><!-- end results container -->
    <div class="results-bottom"></div>
    <div class="btn-toolbar">
		<div type="button" class="btn-group btn-group-xs">1</div>
		<div type="button" class="btn-group btn-group-xs">2</div>
		<div type="button" class="btn-group btn-group-xs">3</div>
		<div type="button" class="btn-group btn-group-xs">4</div>
		<div type="button" class="btn-group btn-group-xs">5</div>
    </div>
</div><!-- end container ng-controller -->