<!doctype html>
<!--app template-->
<html lang="en" ng-app="SparkApp" id="ng-app">
<head>
	<!--install firebase-->
	<script src='https://cdn.firebase.com/v0/firebase.js'></script>
	<script type='text/javascript' src='https://cdn.firebase.com/v0/firebase-simple-login.js'></script>
	<!--set the meta character to utf-8 b/c I'm using special characters-->
	<meta charset=”utf-8”> 
	<!--enable the bootstrap grid system-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Spark</title>
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-responsive.min.css">
	
	<script type="text/javascript" src="js/spark-app/app.js"></script>
	<script type="text/javascript" src="js/spark-app/controllers/mainController.js"></script>
	<link rel="stylesheet" href="css/main.css">
    <script src="js/project.js"></script>
</head>

<body>
	
	<!-- -->
	<div class='banner'>
        <div class='container'>
         <img src="img/sparklogo_330x60.png" class="img-responsive" />
        </div>
    </div>
    
    
	<!-- TESTING ANGULARJS VIEWS - WORK IN PROGRESS
	<div class="view-container main-frame">
    	
		<div ng-view class="view-frame"></div>
		
	</div> end view-container -->
	
    <div class="container main-frame" ng-controller="mainController" ng-init="init()">
    
    <!-- TESTING FIREBASE --- WORK IN PROGRESS
    <div id="loginDiv">
	  <span ng-show="user">
	    {{user.name}} | <a href="#" ng-click="logout()">Logout</a>
	  </span>
	  <a href="#" ng-hide="user" ng-click="login()">Login</a>
	</div>
	-->
	
    <!--<p>Total number of projects: {{results.length}}</p>  FOR TESTING PURPOSES -->
		<div class="search-box row form-inline">
			<label>Filter: </label>
			<!--use ng-model to bind input to the $scope.filterText variable-->
			<input type="text" ng-model="filterText"/>
			<label>Field: </label>
			<select ng-model="fieldFilter" ng-options="label for label in availableFields">
				<option value="">All</option>
			</select>
		</div><!-- end search-box -->
		
        <div class="results-top"></div>
        <div class="results-container">
            <ul class="project-list">
            <!-- ng-repeat dynamically creates li elements based on the data within results, filter with filterText variable -->
            <li ng-repeat="projects in results | filter: filterText | isField:fieldFilter">
				<div class="row">
				
					<div class="col-sm-6">
						<img src="{{projects.covers.404}}" class="img-responsive" />
					</div><!-- end col-sm-6 -->
					
					<div class="col-sm-6">
						<h3><a href="{{projects.url}}">{{projects.name}}</a></h3>
						<ul class="project-info">
							<li>Fields: <span class="label genre" ng-repeat="field in projects.fields" ng-click="setFieldFilter(field)">{{field}}</span></li>
							<!-- <li>Authors: {{projects.owners.id.display_name}}</li> THIS WILL BE FOR DETAIL PG-->
							<li>Published: {{projects.published_on}}</li> 
							<!-- <li>ID: {{projects.id}}</li> THIS WILL BE FOR DETAIL PG-->
						</ul>
						<div class="ratings"><strong>Appreciations:</strong><span class="label glyphicon glyphicon-star"><i class="icon-star"></i></span><strong>{{projects.stats.appreciations}}</strong></div>
					</div><!-- end col-sm-6 -->
							
					</div>	
				</div>
			</li><!-- end project in results array -->	
            </ul>
            <div>
            	<!-- <p><a>1</a> 2 3 4 5</p> --> 
            </div>
        </div><!-- end results container -->
        <div class="results-bottom"></div>
        
	</div><!-- end container ng-controller -->
	
</body>
</html>